body {
    font-family: 'Roboto Mono', monospace;
    margin:0;
}

button{
    font-family: 'Roboto Mono', monospace;
    width: fit-content;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
}
a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
  }

.wrapper {
    /*position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;*/

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width:100vw;
    /*border: 3px solid green;*/ 
    position: absolute;
}

.content {
    height: 65dvh;
    border: 1px solid black;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 0 1 auto;
    position: relative;
    bottom: 0;
    width: 296px;
    padding: 20px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* width: 296px; Need a specific value to work */
    /*margin: auto;*/
}

.content::-webkit-scrollbar {
    display: none;
}

.header {
    position: sticky;
    top: -45px;
    /*height: 100%;*/
    width: 100%;
    pointer-events: none;
    z-index: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Druzhok";
    font-size: 35px;
}

.card {
    width: 100%;
    background-color: rgb(228, 228, 228);
    position: relative;
    top:0px;
    display: block; 
    /*height:100%;*/
    /*max-width: 296px;*/
}

/*
#cur {
    display:none;
}
*/
.footer {
    position: sticky;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    margin-bottom:0px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    /*height: 4vh;*/
    align-items: stretch;
    
}

.footer-item {
    background-color: rgb(255, 255, 255);
    color:black;
    border-color: black;
    border: 1px;
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
    width:100%;
    height: 100%;
    min-height: 4dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

/*
.footer-item button {
    background-color: rgb(255, 58, 58);
    border-color: black;
    border: 1px;
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
}*/

@font-face {
    font-family: "Druzhok";
    src: url('fonts/DRUZHOK.otf');
}


.needlewrapper {
    /*position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;*/

    display: block;
    height: 100dvh;
    width:100dvw;
    /*border: 3px solid rgb(55, 0, 255);*/ 
    position: absolute;
    pointer-events: none;
}

.needlegrid {
    display: grid;
    height: 100dvh;
    max-width: 100dvw;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-template-rows: repeat(2, minmax(10px, 1fr));
    grid-column-gap: 20dvw;
    grid-row-gap: 50dvh;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    pointer-events: none;
    z-index: 99999;
    }