.content {
    height: 65vh;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    flex: 0 1 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 296px; /* Need a specific value to work */
    padding: 20px;
    overflow-y: auto;
    /*testpush*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.content::-webkit-scrollbar {
    display: none;
}

.header {
    position: sticky;
    top: -70px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 5;
    margin: auto;
    text-align: center;
}

.card {
    max-width: 296px;
    width: 100%;
    background-color: rgb(228, 228, 228);
    position: relative;
    top:0px;
    display: block; 
}
/*
#cur {
    *display:none;
}*/